/*Navigation*/
#navbar{
	flex-direction: column;
	width:125%;
}
/*Home Section*/

/*Services Section*/
#services{
	flex-direction: column;
	width:105%;
}
#services .box{
	width:105%;
	padding:32px;
}
/*Clients Section*/
#clients{
	flex-wrap:wrap;
	width:125%;
}
#clients img{
	width:176px;
	padding:2px 6px;
}
/*About Us Section*/

/*Contact Us Section*/
#contact{
	width:125%;
}
/*Footer*/
footer{
	width:125%;
}
.h-primary{ /*Utility Classes*/
	width:125%;
}